<!doctype html>

<html>

<head>
    <title>Help</title>
    <link rel = "icon" href="/img/soiDora.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "main-content">
         {{>header}}
    <p> Facing difficulties?
        Reacout to us via
        Email: {{Email}}
        Whatsapp: {{contact}}
    </p>  
    </div> >
   
    {{>footer}}
</body>>
    


</html>